article {
    header {
        h1 {
            font-size: $type-heading;
            margin: 0;
        }

        date {
            color: $mid-black;
        }
    }

    h2 {
        font-size: $type-subheading;
    }

    h3 {
        font-size: $type-large;
    }

    blockquote {
        font-style: italic;

        & p:first-child::before {
            content: '\00201C';
            display: inline;
        }

        & p:last-child::after {
            content: '\00201D';
            display: inline;
        }
    }

    blockquote cite {
        display: block;
        text-align: right;

        &::before {
            content: '\2014 ';
        }
    }

    code {
	background: $light-white;
	border: .05rem solid $mid-black;
	border-radius: .25rem;
	display: inline-block;
	padding: 0 .25rem;
    }
}
