a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    text-decoration-skip-ink: auto;
    transition-duration: 320ms;
    transition-property: color, background-color, text-decoration;
    transition-timing-function: cubic-bezier( 1, 0, 0, 1 );
}

a:link,
a:visited {
    color: $blue;
}